@using EIP.Common.Core.Auth
@using EIP.Common.Entities.Dtos
@using EIP.Web.DataUsers.Helpers

@{
    ViewBag.Title = "修改密码";
    ViewBag.Require = "console-main-changepassword";
    Layout = "~/Views/Shared/_LayoutPageEditSubmit.cshtml";
}
@Html.EditTopRemark(new EditTopRemarkInput()
{
    Title = "请填密码信息",
    Remark = "注：带*号的为必填信息！"
})
@{
    PrincipalUser principalUser = FormAuthenticationExtension.Current(HttpContext.Current.Request);
}
<div class="edit-content">
    <table class="complex-table">
        <tbody>
            <tr>
                <th style="width: 100px">
                    姓名(帐号)：
                </th>
                <td style="text-align: left">
                    @principalUser.Name (@principalUser.Code)
                </td>
            </tr>
            <tr>
                <th class="m">
                    旧密码：
                </th>
                <td>
                    @Html.Password("OldPassword", null, new { datatype = "*1-512", ajaxurl = "/Console/Main/CheckOldPassword" })
                </td>
            </tr>
            <tr>
                <th class="m">
                    新密码：
                </th>
                <td>
                    @Html.Password("NewPassword", null, new { datatype = "*1-512" })
                </td>
            </tr>
            <tr style="height: 50px">
                <th>密码强度：</th>
                <td id="level" class="pw-strength">
                    <div class="pw-bar"></div>
                    <div class="pw-bar-on"></div>
                    <div class="pw-txt">
                        <span>弱</span>
                        <span>中</span>
                        <span>强</span>
                    </div>
                </td>
            </tr>
            <tr>
                <th class="m">
                    确认新密码：
                </th>
                <td>
                    @Html.Password("ConfirmNewPassword", null, new { recheck = "NewPassword", datatype = "*1-512" })
                </td>
            </tr>
        </tbody>
    </table>
</div>
<link href="~/Contents/changepassword/css/style.css" rel="stylesheet" />