@{
    ViewBag.Title = "获取所有组";
    ViewBag.Require = "common-usercontrol-chosen-group-all";
    Layout = "~/Views/Shared/_LayoutPageBaseEdit.cshtml";
}
@model IList<EIP.System.Models.Dtos.Identity.SystemGroupOutput>
<div class="note-prompt" style="margin: 1px;">
    温馨提示：选中复选框即可授予相应权限，取消选中则回收相应权限。
    <div id="layout" class="layoutdiv" style="border-bottom: solid 1px #cccccc; margin-bottom: 12px; top: 42px;">
        <div id="listcenter" class="ui-layout-west" style="border-style: none">
            <div class="tools-box">
                <div class="tools-box-left">
                    <a href="javascript:void(0);" onclick=" loadTree(); return false; ">
                        <span class="l-icon-reload">刷新组织机构</span>
                    </a>
                </div>
            </div>
            <ul id="tree" class="ztree" style="height: 208px; padding: 5px;"></ul>
        </div>
        <div id="uiNorth" class="ui-layout-center">
            <div class="tools-box">
                <div class="tools-box-left">
                    <a href="javascript:void(0);" onclick=" selectAll(); return false; "><span class="l-icon-ui-check-box">全选</span></a>
                </div>
                <div class="tools-box-right">
                    <input name="txtKeywords" class="txtInput" id="txtKeywords" type="text" placeholder="姓名模糊查询">
                    <input class="btnSearch" id="btnSearch" type="button" onclick=" search(); " value="搜 索">
                </div>
            </div>
            @*显示所有组信息*@
            <div style="height: 208px; padding: 5px;" class="ScrollBar">
                <ul class="sys_spec_text">
                    @{
                        foreach (var m in Model)
                        {
                            var className = "";
                            <li title="@m.Name" searchname="@m.Name.ToLower()" name="@m.OrganizationId" class="@className">
                                <a id="@m.GroupId">
                                    @m.Name
                                </a>
                                <i></i>
                            </li>
                        }
                    }
                </ul>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/lib/ueditor/dialogs/internal.js"></script>