@using EIP.Common.Entities.Dtos
@using EIP.System.Models.Enums
@using EIP.Web.DataUsers.Helpers

@{
    ViewBag.Title = "角色信息编辑";
    ViewBag.Require = "system-post-edit";
    Layout = "~/Views/Shared/_LayoutPageEditSubmit.cshtml";
}
@model EIP.System.Models.Entities.SystemPost
@Html.EditTopRemark(new EditTopRemarkInput()
{
    Title = "请填写岗位信息",
    Remark = "注：带*号的为必填信息！"
})
<div class="edit-content">
    <table class="complex-table">
        <tbody>
            <tr>
                <th class="m" style="width: 100px">归属机构：</th>
                <td>
                    @Html.TextBox("OrganizationName", null, new { @readonly = true, @class = "text1", datatype = "*1-64", style = @"width: 414px; border-width: 1px 0px 1px 1px; " })
                    @Html.Hidden("OrganizationId", @Model.OrganizationId)
                    <input type="button" title="" id="chosen_org" plugin="organization-all" class="button_search" value="选择" />
                </td>
            </tr>
            @*<tr>
                <th style="width: 100px">代码：</th>
                <td>
                    @Html.TextBox("Code", @Model.Code, new { datatype = "*1-64", ajaxurl = "/System/Post/CheckPostCode?id=" + @Model.PostId, ignore = "ignore" })
                </td>
            </tr>*@
            <tr>
                <th class="m">名称：</th>
                <td>
                    @Html.TextBox("Name", @Model.Name, new { datatype = "*1-64" })
                </td>
            </tr>
            <tr>
                <th>主负责人：</th>
                <td>
                    @Html.TextBox("MainSupervisor", @Model.MainSupervisor, new { datatype = "*1-32", ignore = "ignore" })
                </td>
            </tr>

            <tr>
                <th>联系方式：</th>
                <td>
                    @Html.TextBox("MainSupervisorContact", @Model.MainSupervisorContact, new { datatype = "*1-64", ignore = "ignore" })
                </td>
            </tr>

            <tr>
                <th>状态：</th>
                <td>
                    @Html.DropDownListEnum(new DropDownListEnumInput
                    {
                        EnumType = (typeof(EnumPostState)),
                        Name = "State",
                        NeedDefault = true,
                        SelectedVal = @Model.State
                    })
                </td>
            </tr>
            <tr>
                <th>冻结：</th>
                <td>
                    @Html.CheckBox("IsFreeze", @Model.IsFreeze)
                </td>
            </tr>
            <tr>
                <th class="m">序号：</th>
                <td>
                    @Html.TextBox("OrderNo", @Model.OrderNo, new { datatype = "n" })
                </td>
            </tr>
            <tr>
                <th valign="top">备注：</th>
                <td>
                    @Html.TextArea("Remark", @Model.Remark, new { datatype = "*1-512", ignore = "ignore", style = "height: 40px" })
                </td>
            </tr>
        </tbody>
    </table>
</div>
@Html.Hidden("CreateTime", @Model.CreateTime)
@Html.Hidden("PostId", @Model.PostId)